body,
html{
    margin: 0;
    font-family: Arial, sans-serif;
}
header,
main{
    width: 100%;
}
header{
    background-color: cornsilk;
    position: fixed;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
.header-wrap{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cart-button{
    margin-right: 25px;
    width: 170px;
    height: 50px;
    padding: 10px;
    border: 1px solid lightgreen;
    border-radius: 15px;
    background-color: lightgreen;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 24px;
    outline: none;
}
.cart-button:hover{
    background-color: #ffffff;
    cursor: pointer;
}
.cart-button:active{
    background-color: lightgreen;
}
main{
    padding-top: 100px;
}
.goods-list{
    width: 100%;
    padding-top: 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.goods-item{
    width: 265px;
    height: 300px;
    padding-top: 15px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    color: #555555;
}