input,
textarea {
    width: 250px;
    outline: none;
    display: block;
    margin-bottom: 15px;
}
input {
    height: 25px;
}
button {
    display: block;
    float: left;
}
.errorRegExp{
    border-color: red;
}